[submodule ".registry"]
	path = .registry
	url = https://github.com/dmlc/dmlc.r-universe.dev
	branch = HEAD
[submodule "xgboost"]
	path = xgboost
	url = https://github.com/dmlc/xgboost
	branch = release_3.1.0
	subdir = R-package
